<p-toast></p-toast>
<p-breadcrumb [model]="items" [home]="home" styleClass="p-mb-5"></p-breadcrumb>

<div class="p-mb-4 p-d-flex p-jc-between">
  <div>
    <h2 class="p-m-0">
      {{pageTitle}}
    </h2>
  </div>
  <div>
    <button routerLink="/lancamentos" pButton pRipple type="button" label="Voltar" icon="pi pi-chevron-left"
      class="p-button-secondary p-button-text"></button>
  </div>
</div>


<form [formGroup]="lancamentoForm" (submit)="submitForm()">

  <p-panel header="Informações sobre o Lançamento">
    <div class="p-fluid p-grid p-mt-2">
      <!-- type -->
      <div class="p-field p-md-2">
        <span class="p-float-label">
          <p-dropdown inputId="type" [options]="types" formControlName="type"></p-dropdown>
          <label for="type">Tipo</label>
        </span>

        <div style="color: #ce0000;" *ngIf="lancamentoForm.get('type').invalid && lancamentoForm.get('type').touched">
          <div *ngIf="lancamentoForm.get('type').errors.required">dado obrigatório</div>
        </div>
      </div>

      <!-- name -->
      <div class="p-field p-md-5">
        <span class="p-float-label">
          <input type="text" id="name" pInputText formControlName="name">
          <label for="name">Lançamento</label>
        </span>

        <div style="color: #ce0000;" *ngIf="lancamentoForm.get('name').invalid && lancamentoForm.get('name').touched">
          <div *ngIf="lancamentoForm.get('name').errors.required">dado obrigatório</div>
          <div *ngIf="lancamentoForm.get('name').errors.minlength">deve ter no mínimo 2 caracteres</div>
        </div>
      </div>

      <!-- amount -->
      <div class="p-field p-md-3">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">$</span>
          <input type="text" pInputText placeholder="Valor" formControlName="amount">
          <span class="p-inputgroup-addon">,00</span>
        </div>

        <div style="color: #ce0000;" *ngIf="lancamentoForm.get('amount').invalid && lancamentoForm.get('amount').touched">
          <div *ngIf="lancamentoForm.get('amount').errors.required">dado obrigatório</div>
        </div>
      </div>

      <!-- date -->
      <div class="p-field p-md-2">
        <span class="p-float-label">
          <p-calendar id="date" formControlName="date" inputStyleClass="form-control" dataType="string"
            dateFormat="dd/mm/yy" [locale]="ptBR" [showButtonBar]="true">
          </p-calendar>
          <label for="date">Data</label>
        </span>

        <div style="color: #ce0000;" *ngIf="lancamentoForm.get('date').invalid && lancamentoForm.get('date').touched">
          <div *ngIf="lancamentoForm.get('date').errors.required">dado obrigatório</div>
        </div>
      </div>

      <!-- paid -->
      <div class="p-field p-md-3">
        <p-selectButton [options]="paidOptions" formControlName="paid"></p-selectButton>

        <div style="color: #ce0000;" *ngIf="lancamentoForm.get('paid').invalid && lancamentoForm.get('paid').touched">
          <div *ngIf="lancamentoForm.get('paid').errors.required">dado obrigatório</div>
        </div>
      </div>

      <!-- categoryName -->
      <div class="p-field p-md-3">
        <span class="p-float-label">
          <p-dropdown inputId="categoryName" [options]="categorias" formControlName="categoryName"></p-dropdown>
          <label for="categoryName">Categoria</label>
        </span>

        <div style="color: #ce0000;"
          *ngIf="lancamentoForm.get('categoryName').invalid && lancamentoForm.get('categoryName').touched">
          <div *ngIf="lancamentoForm.get('categoryName').errors.required">dado obrigatório</div>
        </div>
      </div>

      <!-- description -->
      <div class="p-field p-md-6">
        <span class="p-float-label">
          <input type="text" id="description" pInputText formControlName="description">
          <label for="description">Descrição</label>
        </span>
      </div>
    </div>
  </p-panel>

  <div class="p-d-flex p-jc-end">
    <button [disabled]="submittingForm || lancamentoForm.invalid" type="submit" pButton pRipple label="Salvar" class="p-button-raised p-mt-3"></button>
  </div>

</form>

