<p-breadcrumb [model]="items" [home]="home" styleClass="p-mb-5"></p-breadcrumb>

<div class="p-d-flex p-jc-between p-mb-4">
  <div>
    <h2 class="p-m-0">
      Categorias
    </h2>
  </div>
  <div class="p-as-center">
    <button routerLink="new" pButton pRipple type="button" label="Nova Categoria" icon="pi pi-plus" class="p-button-raised"></button>
  </div>
</div>

<app-page-header
  page-title="Categorias"
  button-text="Nova Categoria"
  button-link="new"
  button-class="p-button-raised"
  button-icon="pi pi-plus"
>
</app-page-header>

<p-table [value]="categorias" [paginator]="true" [rows]="10" styleClass="p-mb-5">
  <ng-template pTemplate="header">
    <tr>
      <th>Categoria</th>
      <th class="p-text-center">Ações</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-categoria>
    <tr>
      <td>
        <strong>{{categoria.name}}</strong><br>
        <small>{{categoria.description}}</small>
      </td>
      <td class="p-text-center">
        <button [routerLink]="[categoria.id, 'edit']" pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-warning p-button-outlined p-mr-2"></button>
        <button (click)="deleteCategoria(categoria)" pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-outlined"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
