<p-toast></p-toast>
<p-breadcrumb [model]="items" [home]="home" styleClass="p-mb-5"></p-breadcrumb>

<app-page-header
  [page-title]="pageTitle"
  button-text="Voltar"
  button-link="/categorias"
  button-class="p-button-secondary p-button-text"
  button-icon="pi pi-chevron-left"
>
</app-page-header>

<form [formGroup]="categoriaForm" (submit)="submitForm()">

  <p-panel header="Informações sobre a categoria">
    <div class="p-fluid p-grid p-mt-2">
      <!-- name -->
      <div class="p-field p-md-5">
        <span class="p-float-label">
          <input type="text" id="name" pInputText formControlName="name">
          <label for="name">Nome</label>
        </span>

        <div class="text-danger" *ngIf="categoriaForm.get('name').invalid && categoriaForm.get('name').touched">
          <div *ngIf="categoriaForm.get('name').errors.required">dado obrigatório</div>
          <div *ngIf="categoriaForm.get('name').errors.minlength">deve ter no mínimo 2 caracteres</div>
        </div>
      </div>
      <!-- description -->
      <div class="p-field p-md-7">
        <span class="p-float-label">
          <input type="text" id="description" pInputText formControlName="description">
          <label for="description">Descrição</label>
        </span>
      </div>
    </div>
  </p-panel>

  <div class="p-d-flex p-jc-end">
    <button [disabled]="submittingForm || categoriaForm.invalid" type="submit" pButton pRipple label="Salvar" class="p-button-raised p-mt-3"></button>
  </div>

</form>
