<p-breadcrumb [model]="items" [home]="home" styleClass="p-mb-5"></p-breadcrumb>

<div class="p-d-flex p-jc-between p-mb-4">
  <div>
    <h2 class="p-m-0">
      Lançamentos
    </h2>
  </div>
  <div class="p-as-center">
    <button routerLink="new" pButton pRipple type="button" label="Novo Lançamento" icon="pi pi-plus" class="p-button-raised"></button>
  </div>
</div>

<app-page-header
  page-title="Lançamentos"
  button-text="Novo Lançamento"
  button-link="new"
  button-class="p-button-raised"
  button-icon="pi pi-plus"
>
</app-page-header>

<p-table [value]="lancamentos" [paginator]="true" [rows]="10" styleClass="p-mb-5">
  <ng-template pTemplate="caption">
    <div class="p-d-flex p-jc-end">
      <p-message severity="success" [text]="revenueTotal" styleClass="p-mr-2"></p-message>
      <p-message severity="error" [text]="expenseTotal" styleClass="p-mr-2"></p-message>
      <p-message severity="warn" [text]="balance"></p-message>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Lançamento</th>
      <th class="p-text-right">Name</th>
      <th class="p-text-right">Valor R$</th>
      <th class="p-text-center">Ações</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-lancamento>
    <tr>
      <td>
        <strong>{{lancamento.name}}</strong><br>
        <small class="text-success">{{lancamento.date}}</small><br>
        <small *ngIf="lancamento.description">{{lancamento.description}}</small>
      </td>
      <td class="p-text-right">{{lancamento.categoryName}}</td>
      <td class="p-text-right">
        <strong [class.text-success]="lancamento.type == 'revenue'"
          [class.text-danger]="lancamento.type == 'expense'">
          {{lancamento.amount}}
        </strong>
        <br>
        <span [ngClass]="'p-tag p-tag-' + lancamento.paidClass">{{lancamento.paidText}}</span>
      </td>
      <td class="p-text-center">
        <button [routerLink]="[lancamento.id, 'edit']" pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-warning p-button-outlined p-mr-2"></button>
        <button (click)="deleteLancamento(lancamento)" pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-outlined"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
