<p-breadcrumb [model]="items" [home]="home" styleClass="mb-5"></p-breadcrumb>

<div class="row mb-4">
  <div class="col-md">
    <h1 class="h2 border-left pl-2">
      Lançamentos
    </h1>
  </div>
  <div class="col-md">
    <a routerLink="new" class="btn btn-success float-right">
      + Novo Lançamento
    </a>
  </div>
</div>

<p-table [value]="lancamentos" [paginator]="true" [rows]="10">
  <ng-template pTemplate="header">
    <tr>
      <th>Lançamento</th>
      <th class="text-right">Name</th>
      <th class="text-right">Valor R$</th>
      <th class="text-center">Ações</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-lancamento>
    <tr>
      <td>
        <strong>{{lancamento.name}}</strong><br>
        <small class="text-success">{{lancamento.date}}</small><br>
        <small *ngIf="lancamento.description">{{lancamento.description}}</small>
      </td>
      <td class="text-right">{{lancamento.categoria.name}}</td>
      <td class="text-right">
        <strong [class.text-success]="lancamento.type == 'revenue'"
          [class.text-danger]="lancamento.type == 'expense'">
          {{lancamento.amount}}
        </strong>
        <br>
        <span class="badge badge-light">{{lancamento.paidText}}</span></td>
      <td class="text-center">
        <a [routerLink]="[lancamento.id, 'edit']" class="btn btn-outline-info btn-sm mr-2">Editar</a>
        <button (click)="deleteLancamento(lancamento)" class="btn btn-outline-danger btn-sm">Excluir</button>
      </td>
    </tr>
  </ng-template>
</p-table>
